html, body {
    padding: 0;
    margin: 0;
    background: no-repeat url("https://freedesignfile.com/upload/2018/02/most-beautiful-scenery-of-nature-Stock-Photo-02.jpg");
    background-size: cover;
