html, body {
    padding: 0;
    margin: 0;
    background: no-repeat url("https://storage.googleapis.com/a1aa/image/XVbWyK6fe6uMfpvbxmDjRvtqSodNSahVU5h7VKu5emFvf9MdC.jpg");
    background-size: cover;

}

h1 {
    color: rgb(255, 255, 255);
    
}
